.Cell {
  height: 100px;
  width: 100px;
  background-color: #303030;
  border-radius: 5px;
  
}
.Cells {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Number {
  color: #FFF;
  font-size: 35px;
}

