.App {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 50px;
}

p {
  text-align: center;
}

table {
  margin: 0 auto;
}
.button {
  background-color: #303030;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s, color 0.5s;
}

.cell {
  height: 100px;
  width: 100px;
  background-color: #303030;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.number {
  color: #FFF;
  font-size: 35px;
}