.App {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 50px;
}

p {
  text-align: center;
}

.board {
  display: flex;
  justify-content: center; 
}

 table {
  margin: 0 auto;
  padding: 0px;
}
.button {
  background-color: #303030;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: azure;
  color: black;
}

.buttonL {
  margin-top: 150px;
  margin-right: 25px;
  background-color: #303030;
  color: white;
  height: 100px;
  width: 40px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonR {
  margin-top: 150px;
  margin-left: 25px;
  background-color: #303030;
  color: white;
  height: 100px;
  width: 40px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonL:hover,
.buttonR:hover {
  background-color: azure;
  color: black;
}

.scoreBoard {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreBoard div {
  width: 200px;
  height: 40px;
  background-color: #303030;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5em;
}

.cell {
  height: 100px;
  width: 100px;
  background-color: #303030;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.number {
  color: #FFF;
  font-size: 35px;
}